.container{
    width: 100%;
    color: rgb(2, 2, 2);
    margin-left: auto;
    margin-right: 100%;
    display: block;
    margin-left: 100%;

}
.card{
  width: 100%;
  border:1px solid red;
  padding:10px;
  margin: 5px;
}
.card>h1{
  background: rgb(4, 4, 88);
  color:white;
  padding: 0px;
}
.admin-label{
    background-color: aliceblue;
    color: black;
    width: fit-content;
    border-radius: 10px;
    height: 30px;
    display: inline-block;
    font-size: 30px;
    padding: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .admin-label:hover{
    background-color: green;
    color:snow;
    box-shadow: 0px 0px 3px 0px snow;
  }
  button{
    background: grey;
    color: black;
  }